.addDetails {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.addDetailsFrame {
  width: 169px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.settingsFrame,
.settingsFrameChild {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-open-sans);
}
.settingsFrameChild {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 72px;
  border-radius: var(--br-11xl);
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-6xl);
  box-sizing: border-box;
  font-weight: 800;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  min-width: 250px;
  z-index: 1;
}
.settingsFrame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-15xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
@media screen and (max-width: 750px) {
  .settingsFrame {
    gap: var(--gap-15xl);
  }
}
@media screen and (max-width: 450px) {
  .addDetails {
    font-size: var(--font-size-base);
    line-height: 16px;
  }
}
